
// alabaster
$primary:#e8e4d9;
// Eerie Black
$secondary: #1f1e1c;


.logo {
    height: 125px;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1524334228333-0f6db392f8a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    width: 100%;
    transition: 0.2s;
}

.link {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    font-family: 'Georama', sans-serif;
}

.footer {
    font-family: 'Georama', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: $primary;
    text-align: center;
}

.inventory {
    display: flex;
    flex-direction: column;
    padding-top: 135px;
    font-family: 'Georama', sans-serif;
}

.mycart {
    padding-top: 135px;
    font-family: 'Georama', sans-serif;
    max-width: 450px;
    margin: 0 auto;
}

.item {
    width: 80%;
    margin: 1em auto;
    padding: 1em;
    box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.itemName {
    font-size: 1.5em;
    margin-bottom: .75em;
    margin: 0 auto;
}

.item img {
    width: 9em;
    margin: 0 auto;
}

.itemDesc {
    width: 12em;
    margin: 0 auto;
}
.itemPrice {
    padding-top: 1em;
}
.button {
    width: 10em;
    border-radius: 12px;
    font-family: 'Georama', sans-serif;
    background-color: #436436;
    color: white;
    margin: 0 auto;
  }
  
.button:hover {
    color: black;
    background-color: #c5dbbd;
    
  }
////////////////////////////////////////////////////////////
/// found a How-To for this Hamburger menu at: 
// https://ibaslogic.com/how-to-add-hamburger-menu-in-react/
/////////////////////////////////////////////////////////////
  
  .menuNav {
    transform: translateX(-400%);
    background: transparent;

  }
  
  .menuNav.showMenu {
    width: 100%;
    transform: translateX(-40%);
  }

  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .menuNav li:first-child {
    margin-top: 7rem;
   
  }

  .navbutton {
     background: transparent;
     border: none;
     color: white;
  }

////////////////////////////////////////////////////

// Media Queries //
  @media screen and (min-width: 768px){

    .navbutton {
        display: none;
    }
    .menuNav {
        transform: translateX(0%);
        background: transparent;
        display: flex;
    }
      
    .inventory {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 1024px){

    .inventory {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

}