
// alabaster
$primary:#e8e4d9;
// Eerie Black
$secondary: #1f1e1c;
$darksienna: #520000;
$marigold: #eca72c;


.logo {
    height: 125px;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1472983131032-23a243d662eb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80");
    width: 100%;
    transition: 0.2s;
    border-bottom: 4px  $darksienna;
}

.link {
    font-size: 1.5em;
    text-decoration: none;
    color: $secondary;
    font-family: 'Georama', sans-serif;
}

.footer {
    font-family: 'Georama', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dfd8d8;
    color: $secondary;
    text-align: center;
}

.inventory {
    padding-top: 135px;
    font-family: 'Georama', sans-serif;
}

.inventoryheader{
    background-color: $marigold;
}
.mycart {
    padding-top: 135px;
    font-family: 'Georama', sans-serif;
}
.mycartheader{
    background-color: $marigold;
}
.item {
    padding: 2em;
}

.itemName {
    font-size: 1.5em;
    padding-bottom: .75em;
}

.item img{
    height: 10em;
    width: 9em;
    padding-bottom: .75em;
}

.itemDesc {
    padding-bottom: .5em;
}
.itemPrice {
    padding-bottom: .5em;
}
.button {
    width: 10em;
    border-radius: 12px;
    font-family: 'Georama', sans-serif;
    background-color: $primary;
    color: black;
  }
  
.button:hover {
    color: black;
    background-color: $marigold; 
    border: 2px solid black;
  }
////////////////////////////////////////////////////////////
/// found a How-To for this Hamburger menu at: 
// https://ibaslogic.com/how-to-add-hamburger-menu-in-react/
/////////////////////////////////////////////////////////////
  
  .menuNav {
    overflow-y: scroll;
    background: transparent;
    width: 0;
  }
  
  .menuNav.showMenu {
    width: 100%;
  }

  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .menuNav li:first-child {
    margin-top: 7rem;
   
  }

  .navbutton {
     background: transparent;
     border: none;
  }

  .link{
      color: $marigold;
  }

////////////////////////////////////////////////////

// Media Queries //
  @media screen and (min-width: 768px){

    .menuNav{
        display: none;
    }

  }